
<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}  </title>
    <!-- linking html to css -->
    <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href ="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/image">Image</a></li>
      </ul>
    </nav>
    <div class="container">
  
    {{ content }}
    
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/weblabtutorial">github.com/weblabtutorial</a></li>
        <li><a href="https://weblabtutorial.github.io">weblabtutorial.github.io </a></li>
        <li><a href="https://devansh555.github.io/about/index.html">https://devansh555.github.io/about/index.html</a></li>
        <li><a href="https://devansh555.github.io/image/index.html">https://devansh555.github.io/image/index.html</a></li>
      </ul>
    </footer>
  </body>
</html>      
